.item{
    width: 500px;
    color: aquamarine;
    font-size: 20px;
    margin: 0 auto;
}

.itemName{
    font-weight: bold;
    padding: 20px;
}

.line{
    border: 1px solid #f7184c;
}

.deleteButton{
    float: right;
    padding: 12px 20px;
    border: none;
    background-color: #f7184c;
    cursor: pointer;
    color: white;
    margin-top: -5px;
    border-radius: 4px;
}